# Mac Finder display config
*.DS_Store

# PyCharm & VS Code project config dirs
*.idea/
*.vscode/

# Python bytecode
*__pycache__/

# IPython notebook checkpoints
*.ipynb_checkpoints/

# Package distribution dirs for wheels & eggs
dist/
build/
davos.egg-info/

# Mypy daemon status file
.dmypy.json

# Selenium Firefox driver & log
tests/geckodriver
**/geckodriver.log

# scripts & notebooks for scratch/debugging
scratch/

# Illustrator source for snippets
paper/snippets/snippets.ai
