# Mac Finder display config
*.DS_Store

# PyCharm project config dir
*.idea

# Python bytecode
*__pycache__

# IPython notebook checkpoints
*.ipynb_checkpoints

# Python package distribution egg
davos.egg-info

# build dir for non-editable installs
build

# Mypy daemon status file
.dmypy.json

# Selenium Firefox driver & log
tests/geckodriver
**/geckodriver.log

# scripts & notebooks for scratch/debugging
scratch
